@{
    ViewBag.Title = "Home Page";
}

<br />

<table id="myTable" class="table table-condensed">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Holland</td>
            <td>20000</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Holland</td>
            <td>20000</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Holland</td>
            <td>20000</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Holland</td>
            <td>20000</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Holland</td>
            <td>20000</td>
            <td>Active</td>
        </tr>
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
    }